:root {
    
    --main-bg-color: #38B6FF;
    --content-bg-color:#d1eaf8;
    --second-bg-color: #f1f1f1;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 25px;
    --mid-header-size: 50px;
    --bottom-header-size: 35px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--content-bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .2rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--second-bg-colo);
    border-radius: 5rem;
}
header {
    position: relative;
    left: 0px;
    width: 105%;
}
button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1150px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.bg-second {
    background-color: var(--second-bg-color);
}

.bg-main {
    background-color: var(--content-bg-color);
}

.text-red {
    color: var(--red);
}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;
}

.mb-menu-close {
    display: none;
}

.top-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header ul {
    display: flex;
}

.top-header a {
    font-size: 12px;
    font-weight:500;
    text-transform: uppercase;
}

ul.devided > li {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid;
}

ul.devided > li:last-child {
    border-right: none;
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
    top: 110%;
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    /* display: flex; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
}

.dropdown-content > li > a {
    padding: 10px;
}

.dropdown-content > li:hover {
    color: var(--red);
}
/* end dropdown */

.mid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--content-bg-color);
}

.logo {
    width: 20%;
    text-align: center;
    left: -1rem;
    z-index: 9;
    position: absolute;
}
.logo img{
    margin-top: 6px;
    width: 65%;
}
.mb-logo {
    font-size: 25px;
    font-weight: 700;
    color: var(--red);
}

.search {
    width: 600px;
    height: 35px;
    position: relative;
    left: 16rem;
}

.search input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);
}

.search button.btn-search {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
}
.search button.btn-search:focus{
    color: red;
}
.user-menu {
    display: flex;
}

.user-menu > li > a {
    font-size: 1.3rem;
    margin-left: 1.6rem;
}
a:hover{
    color: var(--red);
}
.bottom-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    display: flex;
    height: var(--bottom-header-size);
}

.main-menu > li > a {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 500;
    height: 100%;
    text-transform: uppercase;
}

.main-menu > li {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.main-menu > li:hover {
    border-bottom: 2px solid var(--red);
}

/* mega menu */

.mega-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -30px;
    background-color: var(--content-bg-color);
    width: 100%;
    max-height: 70px;
    line-height:0.5;
    top: calc(100% + 100px);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 100%;
}

.mega-content h3 {
    margin: 0 3rem;
    padding-left: 30px;
}

.mega-content ul {
    display: flex;
    flex-direction: column;
}

.mega-content ul > li > a {
    font-weight: normal;
    padding: 10px 0;
    border-bottom: 2px dashed #f5f5f5;
    transition: padding-left 0.2s ease-in-out;
    margin: 0 20px;
    text-transform: capitalize;
}

.mega-content ul > li > a:hover {
    padding-left: 10px;
}

.mega-content ul > li {
    border-bottom: 2px solid transparent;
}

.mega-content ul > li:hover {
    border-bottom: 2px solid var(--red);
}

/* end mega menu */

.box {
    padding: 2rem;
}
#loaisanpham{
    width: 100%;
}
.hero {
    height: calc(
        100vh -
            (
                var(--top-header-size) + var(--mid-header-size) +
                    var(--bottom-header-size)
            )
    );
    padding: 0 20px;
    background-image: linear-gradient( 180deg,#fffffe 10%,#ffe8d142 100%);
}

.slider,
.slider .container {
    height: 100%;
    position: relative;
}

.slide {
    height: 0;
    position: absolute;
    display: flex;
    inset: 0;
    overflow: hidden;
    visibility: hidden;
}

.slide.active {
    visibility: visible;
    height: 100%;
}

.slide .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info-content h2 {
    font-size: 27px;
    margin: 1.2rem 2rem ;
}

.info-content button {
    margin-top: 30px;
    z-index: 99999999999;
}

.slide .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__active{
    display: flex;
}

.add__cart{
    margin-left: 30px;
}

.btn-flat {
    display: inline-block;
    background-color: var(--main-bg-color);
    color: #000;
    padding: 10px 25px;
    font-size: 1rem;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn-flat:hover {
    opacity: 0.8;
    color: #000;
}

.slide-controll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide-controll:hover {
    background-color: var(--btn-bg);
    color: var(--btn-color);
}

.slide-next {
    right: -80px;
}

.slide-prev {
    left: -80px;
}

.slider:hover .slide-next {
    right: 50px;
}

.slider:hover .slide-prev {
    left: 50px;
}

/* slide animation */
.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);

}
.info-content h3{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.info-content h2,p{
    color: var(--black);
    font-weight: 700;
}
.slide.active .top-down {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.right-left {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.left-right {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
/* end slide animation */

.trans-delay-0-2 {
    transition-delay: 0.2s;
}
.trans-delay-0-4 {
    transition-delay: 0.4s;
}

.trans-delay-0-6 {
    transition-delay: 0.6s;
}

.trans-delay-0-8 {
    transition-delay: 0.8s;
}

.promotion {
    padding: 15px;
}

.promotion [class*="col-"] {
    padding: 15px;
}

.promotion-box {
    display: flex;
    background-color: #f5f5f5;
    position: relative;
    box-shadow: rgb(237 215 193) 2px 17px 20px 1px;

}

.promotion-box .text {
    flex-grow: 1;
    padding: 0px;
}

.promotion-box .text h3 {
    font-size: 15px;
    text-align: center;
    color: var(--black);
    position: relative;
    top: 1rem;
}
button.btn-flat.btn-hover.btn {
    background: none;
    border: none;
    color: var(--grey);
    font-size: 11px;
}
.col-4.col-md-12.col-sm-12.text-row {
    width: 25%;
    background: none;

}
.promotion-box .text button {
    margin-top: 10px;
}

.promotion-box img {
    position: relative;
    width: 40%;
    left: 24%;
    top: 10px;
    transition: transform 0.3s ease-in-out;
}

.promotion-box:hover img {
    transform: scale(1.1);
}

.section {
    padding: 0;
}

.section-header,
.section-footer {
    text-align: center;
    margin: 80px 0 70px;
    text-transform: uppercase;
}

.section-header h2 {
    font-size: 30px;
}

.product-card {
    background-color: var(--content-bg-color);
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}

.product-card:hover {
    box-shadow: 0px 0px 1px 2px rgba(223, 223, 223, 0.685);
    border-radius: 6px;
    z-index: 9;
}

.product-card-img {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-img img {
    max-height: 100%;
    transition: all 0.3s ease-in-out;
}

.product-card-img img:nth-child(2) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(1) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(2) {
    display: block;
}

.product-card-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card-name {
    font-size: 15px;
    margin-bottom: 10px;
}

.product-card-price {
    font-size: 15px;
}

.product-card-price .curr-price {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
}

.product-btn {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-btn > * ~ * {
    margin-left: 5px;
}

.btn-shop-now,
.btn-cart-add {
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
}

.sp-item-name {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 25px;
}
.sp-item-info {
    position: relative;
    /* top: 4rem; */
}
.sp-item-description {
    margin-bottom: 60px;
    text-align: justify;
}
#blogs{
    position: relative;
    top: -5rem;
}
.blog {
    display: flex;
    margin-bottom: 60px;
}

.blog-img,
.blog-info {
    width: 50%;
}

.blog-info {
    padding: 50px;
}

.blog-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.blog-preview {
    text-align: justify;
    margin-bottom: 50px;
}

footer {
    padding: 20px 0;
}
.endfooter{
    max-width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background:var(--third-bg-color);
}
.footer-head {
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
}

.contact-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 38px;
}

.contact-socials {
    display: flex;
    justify-content: center;
}

.contact-socials a {
    font-size: 30px;
    margin: 0 10px;
}

.contact-socials a:hover {
    color: var(--red);
}

.menu li a {
    transition: transform 0.3s ease-in-out;
}

.menu li a:hover {
    color: var(--red);
    transform: translateX(2px);
}

.subscribe {
    position: relative;
    margin-top: 20px;
}

.subscribe input {
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0;
    padding: 0 30px;
}

.subscribe button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    background-color: var(--red);
    color: var(--btn-color);
    padding: 10px;
    text-transform: uppercase;
}

.subscribe button:hover {
    background-color: var(--black);
}

.mb-menu-toggle {
    font-size: 25px;
}

.breadcumb {
    font-weight: 600;
    padding-left: 20px;
    
}

.breadcumb a {
    text-transform: uppercase;
}

.breadcumb a:hover {
    color: var(--red);
}

.breadcumb span {
    margin: 0 15px;
}

.filter-header {
    display: block;
    margin: 20px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.filter-list > li {
    margin-bottom: 20px;
}

.filter-toggle-box {
    display: none;
}

.price-range {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-range span {
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;
}

.price-range input {
    width: 40%;
    outline: none;
    padding: 5px;
}

.group-checkbox {
    text-align: left;
}

.group-checkbox input {
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.group-checkbox label {
    cursor: pointer;
    padding-left: 40px;
    position: relative;
}

.group-checkbox label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 22px;
    height: 22px;
    background-color: var(--content-bg-color);
    border: 2px solid #7b7979;
}

.group-checkbox label > i {
    position: absolute;
    left: 2px;
    top: -2px;
    color: var(--black);
    transform: scale(0);
    font-size: 21px;
    transition: transform 0.1s ease-in-out;
}

.group-checkbox input:checked + label i {
    transform: scale(1);
}

.rating i {
    color: #ffc107;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    font-size: 20px;
}

.pagination > li > a.active {
    background-color: var(--black);
    color: var(--content-bg-color);
}

.pagination > li > a:hover {
    border: 2px solid var(--black);
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
div#filter-col {
    position: relative;
    left: -57px;
    height: 30%;
}
.product-img > img {
    max-width: 100%;
    box-shadow: 0px 0px 1px 1px rgb(117 117 117 / 57%);
    border-radius: 6px;
}

.product-img-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img-item {
    width: 100%;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid var(--third-bg-color);
}

.product-img-item:hover {
    background-color: var(--second-bg-color);
}

.product-row {
    padding: 45px 0;
}

.product-info > * ~ * {
    margin-top: 25px;
}

.product-info-detail-title {
    font-weight: 600;
    color: gray;
}

.product-description {
    font-size: 1rem;
    text-align: justify;
}

.product-info-price {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--red);
}

.product-quantity-wrapper {
    display: flex;
    align-items: center;
}

.product-quantity {
    margin: 0 10px;
    font-size: 1.3rem;
}

.product-quantity-btn {
    height: 25px;
    width: 25px;
    background-color: gray;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.product-quantity-btn i {
    font-size: 1.1rem;
    color: var(--content-bg-color);
}

.box-header {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.product-detail-description {
    position: relative;
    margin-bottom: 90px;
}

.product-detail-description-content {
    max-width: 100%;
    text-align: justify;
    line-height: 26px;
    font-size: 1rem;
    height: 400px;
    overflow-y: hidden;
    position: relative;
}
.product-detail-description-content img{
    position: relative;
    left: 18%;
    width: 17rem;
    text-align: center;
}
.product-detail-description-content.active {
    height: max-content;
}

.btn-view-description {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.user-rate {
    margin-bottom: 40px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.user-avt {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-name {
    margin-left: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.user-rate-content {
    line-height: 25px;
}
.filter-col{
    position: relative;
    left: -2rem;
    box-shadow: 0px 0px 1px 1px rgba(117, 117, 117, 0.575);
    border-radius:6px;
}


#map_bando{
    position: relative;
    left: 2rem;
}
/* responsive */

@media only screen and (max-width: 1150px) {
    .mobile-menu {
        display: flex;
        width: 105%;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 100%;
        background-color: var(--content-bg-color);
        z-index: 99;
        transition: right 0.3s ease-in-out;
    }

    .header-wrapper.active {
        right: 0;
    }

    .logo {
        font-size: 25px;
    }

    .mb-menu-close {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 999;
        font-size: 35px;
    }

    .top-header {
        display: none;
    }

    .mid-header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: unset;
    }

    .mid-header > * {
        margin-top: 15px;
    }

    .search {
        width: 100%;
    }

    .bottom-header {
        justify-content: flex-start;
    }

    .main-menu {
        flex-direction: column;
        height: unset;
    }

    .main-menu a {
        padding: 10px 0;
    }

    .mega-dropdown > a > i {
        display: none;
    }

    .mega-content {
        position: relative;
        opacity: 1;
        visibility: visible;
        box-shadow: unset;
        background-color: transparent;
        padding-left: 45px;
        display: none;
    }
#sisaw_fa{
    display: none;
}
    .mega-content h3 {
        font-size: 15px;
        padding: 5px 0;
        margin: unset;
    }

    .mega-content ul > li > a {
        padding: 5px 0;
    }

    .mega-content .img-row {
        display: none;
    }

    .hero {
        height: calc(
            50vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
        margin-bottom: 60px;
        width: 110%;
    }
    .slide > .info{
        display: none;
    }
    .slide > .img {
        width: 70%;
    }

    .slide > .img > img {
        max-width: 90%;
        position: relative;
        left: 25%;
        /* top: 2rem; */
    }

    .info-content p {
        display: none;
    }

    .info-content button {
        margin-top: unset;
    }

    .slide-next,
    .slider:hover .slide-next {
        right: 35%;
    }

    .slide-prev,
    .slider:hover .slide-prev {
        left: 35%;
    }

    .slide-next,
    .slide-prev {
        bottom: -70px;
        transform: unset;
        top: unset;
    }

    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }

    .sp-item-info {
        padding-right: 35px;
    }

    .blog {
        flex-wrap: wrap;
    }

    .blog-img,
    .blog-info {
        width: 100%;
    }

    .filter-toggle-box {
        display: block;
    }

    .filter-col {
        position: fixed;
        width: 100%;
        background-color: var(--content-bg-color);
        z-index: 98;
        left: 100%;
        height: 80vh;
        overflow-y: scroll;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: left 0.2s ease-in-out;
    }

    .filter-col.active {
        left: 0;
    }
    .col-4.col-md-12.col-sm-12.text-row {
        width: 100%;
        position: relative;
        top: 1rem;
    }
    .pagination {
        justify-content: center;
    }
}

@media only screen and (max-width: 750px) {
    .hero {
        height: calc(
            40vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
        margin-bottom: 60px;
    }
    .search input {
        width: 50%;
    }
    .logo img{
        width: 100%;
        position: inherit;
    }
    .search {
        width: 100%;
        position: relative;
        left: 115px;
    }
    .search button.btn-search{
        position: relative;
        left: -40px;
    }
    .info-content h2 {
        margin: unset;
        font-size: 40px;
    }

    .promotion {
        padding-top: 45px;
    }

    .promotion-box {
        height: unset;
    }
    #dang_nhap{
        margin-right: 6.5rem;
    }
}


/* cart CSS */
table {
    margin-bottom: 10rem;
    margin-left: 50%;
    transform: translate(-50%, -5%);
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    border: .5px solid rgb(85, 85, 85);
}
.box{
    z-index: 99999;
}
tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: .5px solid rgb(85, 85, 85);
}

.container__td-first{
    text-align: left;
    display: flex;
    align-items: center;
}

.container-cart-name{
    font-weight: 400;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 10px;
    text-align: left;
    overflow: hidden;
}

.content{
    margin-bottom: 100px;
}

.content__cart{
    display: flex;
    align-items: center;
    background-color: var(--second-bg-color);
    margin-top: 10px;
    border-radius: 2px;

}

.content__cart div{
    text-align: center;
    margin-bottom: 0;
    margin: 20px 0;
}

.container__div-first{
    display: flex;
    padding: 0 20px !important;
    align-items: center;
}

.header {
    background-color: var(--second-bg-color);
    color: black;
    border-radius: 2px;
    display: flex;
    margin-bottom: 30px;
}

.header-item {
    margin-top: 20px;
    text-align: center;
}


.header__heading{
    display: flex;
}

.product-img-list{
    position: relative;
    top: 2rem;
    max-width: 50%;
    left: 25%;
}
.product-img-list img{
    width: 55%;

}
@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}


.cart{
    width: 30rem !important;
}

.cart-img{
    display: flex;
    align-items: center;
}

.cart__img{
    width: 30%;
}

.cart__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.cart__item:hover{
    cursor: pointer;
    background-color: var(--content-bg-color);
}

.cart__price {
    width: 25%;
    text-align: center;
}

.cart__item-img{
    width: 22%; 
}

.container__name{
    width: 38%;
    margin-left: 12;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cart-btn{
    margin: 10px 0;
}

.item-quantity{

}

.item-quantity-notice{
    position: absolute;
    padding-top: 3px;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 10px;
    font-size: 1rem;
    line-height: 0.9rem;
    color: red;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 100rem;
}



/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 55px;
}

.pagination>li>a:hover{
    background-color: var(--second-bg-color);
    border: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item__active .pagination-item__link{
    background-color: var(--second-bg-color);
}

.pagination-item__link{
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    display: block;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}
