:root {
    --main-bg-color: #ffff;
    --content-bg-color: #ffff;
    /* --main-bg-color: rgb(252, 252, 252); */
    --second-bg-color: #f1f1f1;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 18px;
    --mid-header-size: 50px;
    --bottom-header-size: 25px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #ffff;
    --text-color: #9a9a9a;
}

* {

    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--content-bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .2rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--second-bg-colo);
    border-radius: 5rem;
}

header {
    /* background-color: var(--second-bg-color); */
    /* color: black; */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1150px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.bg-second {
    background-color: var(--main-bg-color);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    position: relative;
    z-index: -1;
}

.bg-main {
    background-color: var(--main-bg-color);
}

.text-red {
    color: var(--red);
    font-weight: 600;
}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;
}

.mb-menu-close {
    display: none;
}

.top-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header ul {
    display: flex;
}

.top-header a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

ul.devided>li {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid;
}

ul.devided>li:last-child {
    border-right: none;
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
    top: 110%;
    opacity: 1;
    visibility: visible;
}

.dropdown-content {
    /* display: flex; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
}

.dropdown-content>li>a {
    padding: 10px;
}

.dropdown-content>li:hover {
    color: var(--red);
}

/* end dropdown */

.mid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--main-bg-color);
}

.logo {
    width: 20%;
    text-align: center;
    left: -1rem;
    z-index: 9;
    position: absolute;
}

.logo img {
    margin-top: 6px;
    width: 65%;
}

.mb-logo {
    font-size: 25px;
    font-weight: 700;
    color: var(--red);
}

.search {
    width: 600px;
    height: 35px;
    position: relative;
    left: 16rem;
}

.search input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);
}

.search button.btn-search {
    position: absolute;
    background-color: #ffff;
    top: 55%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
}

.search button.btn-search:focus {
    color: red;
}

.user-menu {
    display: flex;
    color: white;
}

.user-menu>li {
    color: #746262;
}

.user-menu>li>a {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 1.6rem;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--red);
    text-decoration: none;
}

.submenu-a {
    color: #000;
}

li>b {
    color: #000 !important;
}

.bottom-header {
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    color: white;
    display: flex;
    height: var(--bottom-header-size);
}

.main-menu>li>a {
    display: flex;
    align-items: center;
    margin: 0 20px 0 20px;
    font-weight: 400;
    height: 100%;
    text-transform: uppercase;
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

.main-menu>li {
    color: white;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.main-menu>li:hover {
    border-bottom: 1px solid var(--red);
    padding-bottom: 10px;

}

#chualogin:hover {
    display: block;
}

/* mega menu */

.mega-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -30px;
    background-color: var(--main-bg-color);
    width: 100%;
    max-height: 70px;
    line-height: 0.5;
    top: calc(100% + 100px);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 100%;
}

.mega-content h3 {
    margin: 0 3rem;
    padding-left: 30px;
}

.mega-content ul {
    display: flex;
    flex-direction: column;
}

.mega-content ul>li>a {
    font-weight: normal;
    padding: 10px 0;
    border-bottom: 2px dashed #f5f5f5;
    transition: padding-left 0.2s ease-in-out;
    margin: 0 20px;
    text-transform: capitalize;
}

.mega-content ul>li>a:hover {
    padding-left: 10px;
}

.mega-content ul>li {
    border-bottom: 2px solid transparent;
}

.mega-content ul>li:hover {
    border-bottom: 2px solid var(--red);
}

/* end mega menu */

.box {
    padding: 2rem;
}

#loaisanpham {
    width: 100%;
}

.hero {
    height: calc(100vh - (var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size)));
    padding: 0px;
    background-image: linear-gradient(180deg, #fffffe 10%, #ffe8d142 100%);

    margin-top: 20px;

}

.carousel {
    z-index: -2;
    margin: 10px 0;
}

/* banner */
.carousel-inner {
    width: 100%;
    height: 420px;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* slide animation */
.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);

}

.info-content h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.info-content h2 {
    color: var(--black);
    font-weight: 700;
}

.slide.active .top-down {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.right-left {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.left-right {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* end slide animation */

.trans-delay-0-2 {
    transition-delay: 0.2s;
}

.trans-delay-0-4 {
    transition-delay: 0.4s;
}

.trans-delay-0-6 {
    transition-delay: 0.6s;
}

.trans-delay-0-8 {
    transition-delay: 0.8s;
}

.promotion {
    padding: 15px;
}

.promotion [class*="col-"] {
    padding: 15px;
}

.promotion-box {
    display: flex;
    background-color: #f5f5f5;
    position: relative;
    box-shadow: rgb(237 215 193) 2px 17px 20px 1px;

}

.promotion-box .text {
    flex-grow: 1;
    padding: 0px;
}

.promotion-box .text h3 {
    font-size: 15px;
    text-align: center;
    color: var(--black);
    position: relative;
    top: 1rem;
}

button.btn-flat.btn-hover.btn {
    background: none;
    border: none;
    color: var(--grey);
    font-size: 11px;
}

.col-4.col-md-12.col-sm-12.text-row {
    width: 25%;
    background: none;

}

.promotion-box .text button {
    margin-top: 10px;
}

.promotion-box img {
    position: relative;
    width: 40%;
    left: 24%;
    top: 10px;
    transition: transform 0.3s ease-in-out;
}

.promotion-box:hover img {
    transform: scale(1.1);
}

.section {
    padding: 0;
}

.section-header,
.section-footer {
    text-align: center;
    margin: 80px 0 70px;
    text-transform: uppercase;
}

.section-header h2 {
    font-size: 30px;
}

.product-card {
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
    margin: 0 15px;
    height: 380px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product-card:hover {
    box-shadow: 0px 0px 1px 2px rgba(223, 223, 223, 0.685);
    border-radius: 6px;
    z-index: 9;
    transform: scaleX(1.05) scaleY(1.05);
}

.product-card-img {
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

.product-card-img img {
    max-height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.product-card-img img:nth-child(2) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(1) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(2) {
    display: block;
}

.product-card-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card-name {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;

}

.product-card-price {
    font-size: 15px;
    text-decoration: none;
}

.product-card-price .curr-price {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
}

.product-btn {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-btn>*~* {
    margin-left: 5px;
}

.btn-shop-now,
.btn-cart-add {
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
}

.sp-item-name {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 25px;
}

.sp-item-info {
    position: relative;
    /* top: 4rem; */
}

.sp-item-description {
    margin-bottom: 60px;
    text-align: justify;
}

#blogs {
    position: relative;
    top: -5rem;
}

.blog {
    display: flex;
    margin-bottom: 60px;
}

.blog-img,
.blog-info {
    width: 50%;
}

.blog-info {
    padding: 50px;
}

.blog-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.blog-preview {
    text-align: justify;
    margin-bottom: 50px;
}

footer {
    padding: 20px 0;
    background: var(--main-bg-color);
}

.endfooter {
    max-width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background: var(--main-bg-color);
}

footer ul li {
    margin-bottom: 10px;
}

.contact-header {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 38px;
}

.contact-socials {
    display: flex;
    justify-content: center;
}

.contact-socials a {
    font-size: 20px;
    margin: 0 10px;
    color: white !important;
}

.contact-socials a:hover {
    color: var(--red) !important;
}

.menu li a {
    color: white !important;
    transition: transform 0.3s ease-in-out;

}

.menu li a:hover {
    color: var(--red) !important;
    transform: translateX(2px);
}

.subscribe {
    position: relative;
    margin-top: 20px;
}

.subscribe input {
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
}

.subscribe button {
    outline: 0;
    border: 0;
    background-color: var(--red);
    color: var(--btn-color);
    text-transform: uppercase;
}

.subscribe button:hover {
    color: wheat;
}

.mb-menu-toggle {
    font-size: 25px;
}

.breadcumb {
    font-weight: 600;
    padding-left: 20px;

}

.breadcumb a {
    text-transform: uppercase;
}

.breadcumb a:hover {
    color: var(--red);
}

.breadcumb span {
    margin: 0 15px;
}

.filter-header {
    display: block;
    margin: 20px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.filter-list>li {
    margin-bottom: 20px;
}

.filter-toggle-box {
    display: none;
}

.price-range {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-range span {
    flex-grow: 1;
    text-align: center;
    margin: 0 10px;
}

.price-range input {
    width: 40%;
    outline: none;
    padding: 5px;
}

.group-checkbox {
    text-align: left;
}

.group-checkbox input {
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.group-checkbox label {
    cursor: pointer;
    padding-left: 40px;
    position: relative;
}

.group-checkbox label::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 22px;
    height: 22px;
    background-color: var(--main-bg-color);
    border: 2px solid #7b7979;
}

.group-checkbox label>i {
    position: absolute;
    left: 2px;
    top: -2px;
    color: var(--black);
    transform: scale(0);
    font-size: 21px;
    transition: transform 0.1s ease-in-out;
}

.group-checkbox input:checked+label i {
    transform: scale(1);
}

.rating i {
    color: #ffc107;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    font-size: 20px;
}

.pagination>li>a.active {
    background-color: var(--black);
    color: var(--main-bg-color);
}

.pagination>li>a:hover {
    border: 2px solid var(--black);
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#filter-col {
    position: relative;
    height: 30%;
}

.col-lef-image {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
}

.product-img>img {
    width: 450px;
    height: 350px;
    border-radius: 15px;
    padding: 10px 10px;
}

.product-img-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.product-img-item {
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid var(--third-bg-color);
    width: 80px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.product-img-item:hover {
    background-color: var(--second-bg-color);
}

.product-img-item img {
    height: 60px;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.product-row {
    padding: 45px 0;
}

.product-info>*~* {
    margin-top: 25px;
}

.product-info-detail-title {
    font-weight: 600;
    color: gray;
}

.product-description {
    font-size: 1rem;
    text-align: justify;
}

.product-info-price {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--red);
}

.product-quantity-wrapper {
    display: flex;
    align-items: center;
}

.product-quantity {
    margin: 0 10px;
    font-size: 1.3rem;
}

.product-quantity-btn {
    height: 25px;
    width: 25px;
    background-color: gray;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.product-quantity-btn i {
    font-size: 1.1rem;
    color: var(--main-bg-color);
}

.chitietttsp {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0px 0 20px 0;
    border-radius: 15px;
    padding: 0 0 20px 0;
}

.box-header {
    border-radius: 15px 15px 0 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 40px;
    background-color: rgb(209, 231, 238);
    padding: 20px;
}

.product-detail-description {
    margin-bottom: 20px;
    padding: 0 2rem 0 2rem;
}



#comment {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.content-rating {
    padding: 0 20px;
}

.form-rating {
    margin: 10px 0 20px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.form-select-rating {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.form-control-rating-area {
    border: none;
}

.product-detail-description-content {
    max-width: 100%;
    text-align: justify;
    line-height: 26px;
    font-size: 1rem;
    height: auto;
    overflow-y: hidden;
    position: relative;
}

.product-detail-description-content img {
    position: relative;
    left: 18%;
    width: 17rem;
    text-align: center;
}

.product-detail-description-content.active {
    height: max-content;
}

.btn-view-description {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.user-rate {
    margin-bottom: 40px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.user-avt {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-name {
    margin-left: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.user-rate-content {
    line-height: 25px;
}

.filter-col {
    box-shadow: 0px 0px 1px 1px rgba(117, 117, 117, 0.575);
    border-radius: 6px;
}


#map_bando {
    position: relative;
    left: 2rem;
}

/* responsive */

@media only screen and (max-width: 1150px) {
    .mobile-menu {
        display: flex;
        width: 105%;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 100%;
        background-color: var(--main-bg-color);
        z-index: 99;
        transition: right 0.3s ease-in-out;
    }

    .header-wrapper.active {
        right: 0;
    }

    .logo {
        font-size: 25px;
    }

    .mb-menu-close {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 999;
        font-size: 35px;
    }

    .top-header {
        display: none;
    }

    .mid-header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: unset;
    }

    .mid-header>* {
        margin-top: 15px;
    }

    .search {
        width: 100%;
    }

    .bottom-header {
        justify-content: flex-start;
    }

    .main-menu {
        flex-direction: column;
        height: unset;
    }

    .main-menu a {
        padding: 10px 0;
    }

    .mega-dropdown>a>i {
        display: none;
    }

    .mega-content {
        position: relative;
        opacity: 1;
        visibility: visible;
        box-shadow: unset;
        background-color: transparent;
        padding-left: 45px;
        display: none;
    }

    #sisaw_fa {
        display: none;
    }

    .mega-content h3 {
        font-size: 15px;
        padding: 5px 0;
        margin: unset;
    }

    .mega-content ul>li>a {
        padding: 5px 0;
    }

    .mega-content .img-row {
        display: none;
    }

    .hero {
        padding: 0;
        height: calc(50vh - (var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size)));
        margin-bottom: 60px;
        width: 110%;
    }

    /* .slide > .info{
    .slide > .info{
        display: none;
    }
    .slide > .img {
        width: 70%;
    }

    .slide > .img > img {
        max-width: 90%;
        position: relative;
        left: 25%;
        /* top: 2rem; */
    /* }
    }

    .info-content p {
        display: none;
    }

    .info-content button {
        margin-top: unset;
    }

    .slide-next,
    .slider:hover .slide-next {
        right: 35%;
    }

    .slide-prev,
    .slider:hover .slide-prev {
        left: 35%;
    }

    .slide-next,
    .slide-prev {
        bottom: -70px;
        transform: unset;
        top: unset;
    } */

    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }

    .sp-item-info {
        padding-right: 35px;
    }

    .blog {
        flex-wrap: wrap;
    }

    .blog-img,
    .blog-info {
        width: 100%;
    }

    .filter-toggle-box {
        display: block;
    }

    .filter-col {
        position: fixed;
        width: 100%;
        background-color: var(--main-bg-color);
        z-index: 98;
        left: 100%;
        height: 80vh;
        overflow-y: scroll;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: left 0.2s ease-in-out;
    }

    .filter-col.active {
        left: 0;
    }

    .col-4.col-md-12.col-sm-12.text-row {
        width: 100%;
        position: relative;
        top: 1rem;
    }

    .pagination {
        justify-content: center;
    }
}

@media only screen and (max-width: 750px) {
    .hero {
        height: calc(40vh - (var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size)));
        margin-bottom: 60px;
    }

    .search input {
        width: 50%;
    }

    .logo img {
        width: 100%;
        position: inherit;
    }

    .search {
        width: 100%;
        position: relative;
        left: 115px;
    }

    .search button.btn-search {
        position: relative;
        left: -40px;
    }

    .info-content h2 {
        margin: unset;
        font-size: 40px;
    }

    .promotion {
        padding-top: 45px;
    }

    .promotion-box {
        height: unset;
    }

    #dang_nhap {
        margin-right: 6.5rem;
    }
}




/* cart CSS */
table {
    margin-bottom: 10rem;
    margin-left: 50%;
    transform: translate(-50%, -5%);
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    border: .5px solid rgb(85, 85, 85);
}

.box {
    z-index: 99999;
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: .5px solid rgb(85, 85, 85);
}

.container__td-first {
    text-align: left;
    display: flex;
    align-items: center;
}

.container-cart-name {
    font-weight: 400;
    width: 62%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 0px;
    text-align: left;
    overflow: hidden;
}

.container__wrap{
    border-radius: 5px;
    border: 1px solid #ccc;
}

.content{
    margin-bottom: 50px;
}

.content__car-item{
    display: flex;
    margin: 0 10px 20px;
}

.content__cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 125px;
    border:1px solid #ccc;
    border-radius: 5px;
}

.checkout-content__cart-body{
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
}

.checkout-content-total{
    width: 100%;
    padding: 20px 10px 0
}

.content__cart-img{
    width: 20%;
}


.content__cart-input{
    margin: 0 10px;
}

.content__cart-body{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.content__cart-body-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input[type="checkbox"] {
    margin: 0 10px;
}

.body {
    margin:0 0 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.body-header {

    padding: 10px;
    font-size: 1.2rem;
    color: #cf2222;
}

.body-input{
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.1rem;
    padding: 4px;
    border-radius: 5px;
}

.body-btn{
    border: none;
    outline: none;
    background: #dc3545;
    color: #fff;
    padding: 6px 32px;
    border-radius: 5px;
}

.body-btn:hover{
    opacity: 0.8;
}

.body-item{
    display: flex;
    justify-content: space-between;
    padding:  0 10px;
    font-size: 1.1rem;
    line-height: 2rem;
}

.body-item-btn {
    width: 31% !important;
    margin-left: 70%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.body-item-active{
    border-top: 1px solid #ccc;
    margin-top: 8px;
    padding-top: 4px;
}

.body-item_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mg-0{
    margin: 0 !important;
}

.mg-bt-15{
    margin-bottom: 15px !important;
}

.border-item-wrap{
    border-top: 1px solid #ccc;
    padding-top: 2px;
}

.body-item_img-cart{
    width: 75%;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    border-top: 1px solid #ccc;
    padding: 20px 10px;
}



.header {
    /* background-color: var(--second-bg-color); */
    color: black;
    border-radius: 2px;
    display: flex;
    /* margin-bottom: 30px; */
    margin: 10px;

}

.header-item {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.color-price{
    color: #cf2222
}


.header__heading {
    display: flex;
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}


.cart {
    width: 30rem !important;
}

.cart-img {
    display: flex;
    align-items: center;
}

.cart__img {
    width: 30%;
}

.cart__item {
    display: flex;
    color: #000;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.cart__item:hover {
    cursor: pointer;
    background-color: var(--content-bg-color);
}

.cart-button {
    z-index: 999999;
}

.cart__price {
    width: 25%;
    text-align: center;
}

.cart__item-img {
    width: 22%;
}

.container__name {
    width: 38%;
    margin-left: 12;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cart-btn {
    margin: 10px 0;
}

.item-quantity-notice {
    position: absolute;
    padding-top: 3px;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 10px;
    font-size: 1rem;
    line-height: 0.9rem;
    color: red;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 100rem;
}

.container__div-first{
    display: flex;
    padding-right: 20px !important;
    align-items: center;
}

.content-cart{
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 2px;
}

.content-cart div{
    text-align: center;
    padding-left: 10px;
}

.content-name{
    font-weight: 400;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 10px;
    text-align: left;
    overflow: hidden;
}


/* Checkout */
.checkout {
    margin-bottom: 100px;
    background-color: var(--second-bg-color);
}

.checkout-wrap {
    margin-bottom: 100px;
    /* background: #f0f0f0; */
}

.checkout-body{
    padding: 10px 20px;
    /* background-color: #fff; */
}

.checkout-header h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 45px;
    color: var(--black);
}

.checkout-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.checkout-input{
    border: none;
    outline: none;
    background: #e1dddd;
    font-size: 1.1rem;
    padding: 7px;
    border-radius: 3px;
}




.checkout-bill {
    text-align: center;
}


.checkout-bill-desc {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
}

.btn-order{
    width: 17% !important;
    text-align: center;
    margin: 10px 0;
    margin-left: 79%;
}

.checkout-bill-form-input{
    border: 1px solid #ccc;
    outline: none;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 11px;
    width: 93%;
}

.checkout-body-desc {
    margin: 0 14rem;
}

.checkout-body-desc h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 17px;
    background: #ccc;
    padding: 10px;
    color: #a40d0d;
    border-radius: 3px;
}

#order-desc {
    text-align: left;
    margin-top: 50px;
}

.order-history {
    margin-bottom: 40px;
}

.mt-0 {
    margin-top: 0 !important;
}

.checkout-container-desc {
    text-align: center;
    margin-left: 30rem;
    width: 35%;
    color: #d72121;
    font-size: 1.2rem;
    margin-right: 10rem;
}

.btn-order-complete{
    width: 13%;
    margin-left: 40rem;
    margin-bottom: 12rem;
}

.checkout-content-header{
    text-align: center;
    color: var(--text-color);
    font-size: 1.3rem;
}

.container-wrap{
    margin-bottom: 100px;
    margin-left: 37px;
}

.container-wrap-item{
    background-color: #efeded;
    border-radius: 3px;
}

.container-wrap-item-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 10px 10px 10px;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.checkout-icon{
    color: #636966;
}

.checkout-icon-whit{
    color: #fff;
}

.checkout-btn {
    background: #dc3545;
    color: #fff;
    font-size: 0.8rem;
    padding: 7px;
    border-radius: 5px;
    margin: 0 12px;
    cursor: pointer;
}

.checkout-btn:hover,
.checkout-btn-link:hover{
    color: #fff !important;
    opacity: 0.8;
}

.checkout-lable-header{
    cursor: pointer;
    padding: 0 12px;
    font-size: 0.8rem;
    padding: 7px;
}

.checkout-lable-header-active{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f8f8;
}

.container-wrap-item-body{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

.container-wrap-item-img{
    width: 7%;
    margin: 0 10px;
    border: 1px solid #ccc;
}

.container-wrap-item-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.container-wrap-item-quantity{
    font-size: 0.8rem;
    color: #c0392b;
    margin-top: 10px;
}

.container-wrap-item-total{
    color: #c0392b;
    margin-top: 40px;
}

.container-wrap-item-bottom{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.checkout-btn-submit{
    margin: 0 20px;
}




/* rating */


/* Rating */

.user-name-vote {
    display: flex;
}

.col-left b {
    color: #ffcd4e;
    font-size: 24px;
}

.col-right button {
    margin: 10px;
    color: #df2f4c;
    background-color: white;
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #ffff;
    }

    #dropdown {
        display: block;
    }
}

#searchInput {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 1rem;
    border-radius: 20px;
}


/* footer */
.cta-title {
    font-size: 20px !important;
}

.cta-desc {
    font-size: 14px !important;
}

.cta-desc p {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-family: 'Poppins';
    letter-spacing: 0;
    color: #777;
}

.cta .form-control {
    height: 46px;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
    background-color: #fff;
}

.input-group-round .form-control {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.cta .btn:not(.btn-block) {
    min-width: 170px;
}

.input-group-round>.input-group-append>.btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #39f;
    border-color: #39f;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}

.btn i:last-child {
    margin-left: 1rem;
}

.icon-long-arrow-right:before {
    content: '\f274';
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "molla";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-long-arrow-right:before {
    content: '\f274';
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "molla";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.footer .footer-middle {
    border-top: none;
    padding: 5rem 0 3.5rem;
    padding-bottom: 35px !important;
    padding-top: 35px !important;

}
/* .widget {
    width: 120px;
    height: 100px;
} */

.footer-logo {
    width: 200px;
    height: auto;
    margin-bottom: 0;
    margin-top: -1.2rem;
}
.widget-about p:last-of-type {
    margin-bottom: 1.2rem;
}
.widget-about p:last-of-type {
    margin-bottom: 3.2rem;
}
.widget-about p {
    max-width: 260px;
}
p {
    margin-bottom: 0;
    font-size: 14px !important;
    font-weight: 300;
    font-family: 'Poppins';
    letter-spacing: 0;
    color: #777;
}
.widget-title{
    font-size: 16px;
    width: 200px;
}
.widget-list{
    width: 200px;
    font-size: 14px;
    color: #777 !important;
}
.widget-list li a{
    color: #777 !important;
}
.widget-call{
    padding: 15px;
}
.widget-call, .widget-call a {
    font-size: 14px !important;
}
.footer-bottom .container:before, .footer-bottom .container-fluid:before {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    background-color: #ebebeb;
}
.footer-bottom{
    padding-bottom: 0 !important;
}


.footer-bottom .container{
    padding-bottom: 0 !important;
}
/* footer */

.btn-danger {
    color: white !important;
}


/* My info CSS */

.info-desc{
    margin: 36px 0;
}

.content-navbar{
    background-color: #ebebeb;
    border-radius: 5px;
    height: 20rem;
}


.header-navbar {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    margin: 0 8px;
}

.header-navbar-img {
    width: 50px;
    height: 60px;
}

ul.container-info-list {
    margin-top: 10px;
}

.header-navbar-info {
    color: #cb1111;
    font-size: 1rem;
    font-weight: 600;
}

li.container-info-item {
    padding-left: 9px;
    font-size: 1rem;
    line-height: 2rem;
}

.content-info{
    margin-left: 37px;
    background: #ebebeb;
    border-radius: 5px;
}

.content-info-avatar {
    text-align: center;
    position: relative;
}

.content-info-avatar img {
    width: 15%;
}

.content-info-edit-avatar {
    position: absolute;
    bottom: 18px;
    left: 54%;
}

label.content-info-text {
    width: 116px;
    display: inline-block;
}

.info-form{
    width: 650px;
    margin: 0 auto;
}

.lg_dangnhap-input {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px;
    font-size: 1rem;
}

.btn-info{
    margin-left: 39%;
    margin-bottom: 23px;
}

.btn-danger {
    color: white !important;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.container-rating{
  position: relative;
  width: 400px;
  background: #D1E7EE;
  padding: 20px 30px;
  
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.container-rating .post{
  display: none;
}
.container-rating .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container-rating .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container-rating .edit:hover{
  text-decoration: underline;
}
.container-rating .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: rgb(255, 208, 0);
}
input:checked ~ label{
  color: rgb(255, 208, 0);
}
input#rate-5:checked ~ label{
  color: #ffdd00;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "Sản phẩm chưa tốt ";
  color: #ffdd00;
}
#rate-2:checked ~ form header:before{
  content: "Sản phẩm chưa tốt ";
  color: #ffdd00;
}
#rate-3:checked ~ form header:before{
  content: "Tạm được ";
  color: #ffdd00;
}
#rate-4:checked ~ form header:before{
  content: "Tôi hài lòng ";
  color: #ffdd00;
}
#rate-5:checked ~ form header:before{
  content: "Tôi thích sản phẩm này ";
  color: #ffdd00;
}
.container-rating form{
  display: none;
}
input:checked ~ form{
  display: block;
}
.form-rating header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
.form-rating .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.form-rating .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #4b4b4b;
  background: white;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: white;
}
.form-rating .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
.form-rating .btn button{
  height: 100%;
  width: 100%;
  outline: none;
  background: #0069D9;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.form-rating .btn button:hover{
    border-radius: 15px;
}



.btn-size{
    border: 1px solid #777;
    margin: 0 10px;
}

.btn-color{
    border: 1px solid #777;
    margin: 0 10px;
    font-size: 12px;
}



#product-img{
	z-index: 1;
	max-width: 500px;
	position: relative;
}

#lens{
	z-index: 2;
	position: absolute;
	/* border-radius: 50%; */
	width: 140px;
    height: 140px;
    border-radius: 15px;
    padding: 10px 10px;
	background-repeat: no-repeat;
	/* cursor: none; */
    top: 10px;
    left: 10px;
}

